{% extends "base.html" %}
<title>
</title>
{% block title %}{{title}}{% endblock %} {% block content %}
<form action="/api/click" method="POST">
    <button class="fixer" name="space">PAUSE/UNPAUSE</button>
    <button class="fixer" name="skip_forward">SKIP FORWARD</button>
    <button class="fixer" name="mute">MUTE</button>
    <button class="fixer" name="volume_up">VOLUME UP</button>
    <button class="fixer" name="volume_down">VOLUME DOWN</button>
    <button class="fixer" name="toggle_full_screen">FULL SCREEN</button>
    <button class="fixer" name="skip_10_forward">FORWARD 10</button>
    <button class="fixer" name="skip_10_backward">BACK 10s</button>
    <button class="fixer" name="skip_intro">SKIP INTRO (Netflix only)</button>
</form>
{% endblock %}
