body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content {
    margin: 0;
    margin-top: 20px;
    height: 100%;
}

.fixer {
    height: 100%;
    width: 100%;
    font-size: 5rem;
}
